@font-face {
  font-family: Bebas;
  src: local("Bebas Neue Regular"),
       local("BebasNeue-Regular"),
       url("../fonts/BebasNeue%20Regular.otf");
}

.container > .navbar-header > .logo {
  font-family: Bebas;
  color: #B9090B;
  text-decoration: none;
  font-weight: bold;
  font-size: 3rem;
}

.navbar.navbar-fixed-top {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
  height: 6rem;
  width:100%;
}

html {
  background: black;
}

.container.main {
  margin-top: 6rem;
}

body {
  background-color: rgba(0,0,0,0) !important;
}

*
{
	color:#aaa;
}
.input-group-glue {
  width: 0;
  display: table-cell;
}

.input-group-glue + .form-control {
  border-left: none;
}

input[type="text"]:focus {
  border-color: #B9090B !important;
}

input
{
  background-color: #000000;
  color: #aaa;
}

span.movieTitle
{
  font-size: 20px;
  color: #B9090B;
}

table{
  border-collapse:separate;
  border-spacing:5em;
}

button
{
  background-color: #B9090B !important;
  color: #000000 !important;
  font-family: Bebas !important;
}