@font-face {
  font-family: Bebas;
  src: local("Bebas Neue Regular"),
       local("BebasNeue-Regular"),
       url("../fonts/bebas.otf");
}

.container > .navbar-header > .logo {
  font-family: Bebas, sans-serif;
  color: #B9090B;
  text-decoration: none;
  font-weight: bold;
  font-size: 3rem;
}

.navbar.navbar-fixed-top {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
  height: 6rem;
  width:100%;
}

html {
  background: black;
}

.container.main {
  margin-top: 6rem;
}

body {
  background-color: rgba(0,0,0,0) !important;
}

*
{
	color:#aaa;
  box-sizing: border-box;
}

.input-group-glue {
  width: 0;
  display: table-cell;
}

.input-group-glue + .form-control {
  border-left: none;
}

input[type="text"]:focus {
  border-color: #B9090B !important;
}

input
{
  background-color: #000000;
  color: #aaa;
}

span.movieTitle
{
  font-size: 20px;
  color: #B9090B;
}

table{
  border-collapse:separate;
  border-spacing:5em;
}

.owl-item div {
  height: 10rem;
  background-size: cover;
  color: rgba(0,0,0,0);
  margin: 1rem;
  border: solid rgb(0,0,0) .5rem;
  padding: .5rem;
  transition: all .5s;
}

.owl-item {
  position: relative;
}

.owl-item .focused {
  border: solid white .5rem;
  transition: all .5s;
}

.owl-item div:after {
	top: calc(100% - 14px);
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-top-color: rgb(0,0,0);
	border-width: 14px;
  left: calc(50% - 14px);
  transition: all .5s;
}

.owl-item div.focused:after {
  border-top-color: #fff;
}

.details {
  padding-right: 50%;
}
