<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{css/styles.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script src="../../static/js/generator.js" th:src="@{js/generator.js}"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#">Kainflix</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Browse</a></li>
                <li class="active"><a href="account">My Account</a></li>
            </ul>
            <form action="#" method="POST">
                <div class="input-group" style="float:right">

                    <!--aus einem mir unbekannten Grund ladet er für die inputs kein css ausn file lg coki-->


                <button type="button" class="form-control input-sm" style="margin-top:15px; background-color: #B9090B; color: #000000; font-family: Bebas; text-align: center; width:150px">
                    <span style="color:black" class="glyphicon glyphicon-shopping-cart"></span> Warenkorb
                </button>
                    <input type="submit" class="form-control input-sm" value="Logout"
                           style="margin-top:15px;  background-color: #B9090B; color: #000000; font-family: Bebas; text-align: center; width:75px"/>

                </div>
            </form>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container main">


    <div>
        <h1>Accountdetails</h1>

        <div class="col-md-6">
            <br/>

            <form action="#" method="POST">
                <table style="border-spacing: 2em;border-collapse:separate;">
                    <tbody>
                    <tr>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Vorname"
                                   style="background-color: #000000; color: #aaaaaa;"/>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Nachname"
                                   style="background-color: #000000; color: #aaaaaa; "/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" class="form-control input-sm" placeholder="Benutzername"
                                   style="background-color: #000000; color: #aaaaaa; "/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" class="form-control input-sm" placeholder="Straße"
                                   style="background-color: #000000; color: #aaaaaa; "/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="PLZ"
                                   style="background-color: #000000; color: #aaaaaa; "/>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Ort"
                                   style="background-color: #000000; color: #aaaaaa; "/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>Geburtstag: <input type="date" id="datepicker"/></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" class="form-control input-sm" placeholder="Passwort"
                                   style="background-color: #000000; color: #aaaaaa; "/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" class="form-control input-sm" placeholder="Passwort wiederholen"
                                   style="background-color: #000000; color: #aaaaaa; "/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" class="form-control input-sm" value="Daten aktualisieren"
                                   style="background-color: #B9090B; color: #000000; font-family: Bebas; text-align: center;"/>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" onclick="var conf = confirm('Wollen Sie Ihr Konto wirklich löschen?')" class="form-control input-sm" value="Konto löschen"
                                   style="background-color: #B9090B; color: #000000; font-family: Bebas; text-align: center;"/>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>

        </div>
        </div>

</div>

</body>
</html>
