<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{css/styles.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script src="../../static/js/generator.js" th:src="@{js/generator.js}"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>


</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#">Kainflix</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Browse</a></li>
                <li><a href="account">Mein Account</a></li>
                <li><a href="basket">Warenkorb</a></li>
                <li class="active"><a href="login">Registrieren</a></li>
            </ul>
            <form action="#" method="POST">
                <div class="input-group" style="float:right;">
                    <input type="text" class="form-control input-sm" placeholder="Benutzername"
                           style="background-color: #000000; color: #aaaaaa; margin-top:15px;"/>
                    <span class="input-group-glue"></span>
                    <input type="text" class="form-control input-sm" placeholder="Passwort"
                           style="background-color: #000000; color: #aaaaaa; margin-top:15px;"/>
                    <span class="input-group-glue"></span>
                    <input type="submit" class="form-control input-sm" value="Login" style="color:#ffffff; background-color:#B9090B; font-family:Bebas;font-size: 12px;"/>

                </div>
            </form>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container main">

    <div class="row">
        <div class="col-md-6">
            <h1>Top Ten Movies</h1>
            <table>
                <tbody>
                <tr>
                    <td>
                        <span class="movieTitle">1 - Batman vs. Superman: Dawn of Justice </span>
                    </td>
                    <td>
                        <span class="movieTitle">★★★★★</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="/jpg/batman.jpg" width="500px" height="400px"/>
                        <br/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="movieTitle">2 - Zoomania </span>
                    </td>
                    <td>
                        <span class="movieTitle">★★★★☆</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="/jpg/zoomania.jpg" width="500px" height="400px"/>
                        <br/><br/>
                    </td>
                </tr>
                <br/><br/>
                <tr>
                    <td>
                        <span class="movieTitle">3 - My Big Fat Greek Wedding 2 </span>
                    </td>
                    <td>
                        <span class="movieTitle">★★★☆☆</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="/jpg/greek.jpg" width="500px" height="400px"/>
                        <br/><br/>
                    </td>
                </tr>
                </tbody>
            </table>


        </div>
        <div class="col-md-6">
            <h1>Registrieren</h1>
            <br/>

            <form action="#" method="POST">
                <table style="border-spacing: 2em;border-collapse:separate;">
                    <tbody>
                    <tr>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Vorname"
                                   style="background-color: #000000; color: #aaaaaa; "/>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Nachname"
                                   style="background-color: #000000; color: #aaaaaa; "/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" class="form-control input-sm" placeholder="Benutzername"
                                   style="background-color: #000000; color: #aaaaaa; "/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" class="form-control input-sm" placeholder="Straße"
                                   style="background-color: #000000; color: #aaaaaa; "/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="PLZ"
                                   style="background-color: #000000; color: #aaaaaa; "/>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Ort"
                                   style="background-color: #000000; color: #aaaaaa;"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>Geburtstag: <input type="date" class="form-control input-sm"
                                                  style="background-color: #000000; color: #aaaaaa; "/></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" class="form-control input-sm" placeholder="Passwort"
                                   style="background-color: #000000; color: #aaaaaa;"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" class="form-control input-sm" placeholder="Passwort wiederholen"
                                   style="background-color: #000000; color: #aaaaaa;"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" class="form-control input-sm" value="Registrieren" style="color:#ffffff; background-color:#B9090B;font-family:Bebas; font-size: 12px;"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>

        </div>
    </div>
</div>

</body>
</html>
