<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{css/styles.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script src="../../static/js/generator.js" th:src="@{js/generator.js}"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#">Kainflix</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Browse</a></li>
                <li class="active"><a href="account">My Account</a></li>
            </ul>

        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container main">

    <div class="starter-template">
        <h1>Deine Bestellung</h1>
    </div>

    <!--wenn Google den Center tag benutzt darf ich das auch -->
    <center>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Film</th>
                <th>Beschreibung</th>
                <th>Summe</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Film 1</td>
                    <td>TOLLER FILM!</td>
                    <td>999,99€</td>
                </tr>
                <tr>
                    <td>Film 2</td>
                    <td>NETTER FILM!</td>
                    <td>99,99€</td>
                </tr>
                <tr>
                    <td>Film 3</td>
                    <td>COOLER FILM!</td>
                    <td>9,99€</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>1109,97€</td>
                </tr>
                <tr>
                    <td colspan="3"><input type="submit" class="form-control input-sm" value="Ja, ich will"
                               style="background-color: #B9090B; color: #000000; font-family: Bebas; text-align: center;"/></td>
                </tr>
            </tbody>
        </table>
    </center>
</div>

</body>
</html>
